In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series(np.random.randn(5),index=['a','b','c','d','e'])

In [3]:
s

a    1.121892
b    0.712706
c   -0.729009
d   -1.885114
e   -0.488450
dtype: float64

In [4]:
pd.Series(np.random.randn(5))

0   -0.411010
1   -2.757135
2    0.263672
3   -1.173274
4    3.766095
dtype: float64

In [5]:
s+s

a    2.243784
b    1.425411
c   -1.458018
d   -3.770228
e   -0.976901
dtype: float64

In [6]:
s*2

a    2.243784
b    1.425411
c   -1.458018
d   -3.770228
e   -0.976901
dtype: float64

In [7]:
s[1:]+s[:-1]

a         NaN
b    1.425411
c   -1.458018
d   -3.770228
e         NaN
dtype: float64

In [8]:
d = {'one' : pd.Series([1.,2.,3.],index=['a','b','c']),
     'two' : pd.Series([1.,2.,3.,4.],index=['a','b','c','d'])}

In [9]:
d

{'one': a    1.0
 b    2.0
 c    3.0
 dtype: float64, 'two': a    1.0
 b    2.0
 c    3.0
 d    4.0
 dtype: float64}

In [10]:
df = pd.DataFrame(d)

In [11]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [12]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
df.columns

Index(['one', 'two'], dtype='object')

In [14]:
df.to_csv('BDMI.csv')

In [15]:
df_2 = pd.read_csv('BDMI.csv')

In [16]:
df_2

  Unnamed: 0  one  two
0          a  1.0  1.0
1          b  2.0  2.0
2          c  3.0  3.0
3          d  NaN  4.0

In [17]:
df['one']

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [18]:
df.loc['a']

one    1.0
two    1.0
Name: a, dtype: float64

In [2]:
df.iloc[0,0]

NameError: name 'df' is not defined

In [20]:
dates = pd.date_range('20201013',periods=6)

In [21]:
dates

DatetimeIndex(['2020-10-13', '2020-10-14', '2020-10-15', '2020-10-16',
               '2020-10-17', '2020-10-18'],
              dtype='datetime64[ns]', freq='D')

In [22]:
df_data = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [23]:
df_data

                   A         B         C         D
2020-10-13 -0.644342 -0.367723 -0.769736 -1.090150
2020-10-14 -1.877864  0.350664 -1.011540  1.163934
2020-10-15  2.059658  0.234789  2.059876 -0.162750
2020-10-16 -0.462412  0.725752 -0.772861  0.753991
2020-10-17 -0.010631  1.645383  0.032436  1.373922
2020-10-18  0.662952 -0.687642  0.429065 -0.165629

### 想一想练一练

### 在这里添加代码

In [29]:
df_classmates

                 ID gender
wangxu   201921****   male
zhengyu  201831****   male

### pandas读取数据库

In [31]:
from sqlalchemy import create_engine

#参数字段 sqlite:///<database path>
engine = create_engine('sqlite:///test.db')

写入数据库

In [32]:
df_classmates.to_sql('tb_test',con=engine)

读取数据库

In [33]:
with engine.connect() as conn, conn.begin():
    data = pd.read_sql_table('tb_test', conn)

In [34]:
data

     index          ID gender
0   wangxu  201921****   male
1  zhengyu  201831****   male