In [9]:
class hash_list:
    def __init__(self,m,l,func):
        self.func = func
        self.bucket = [[] for _ in range(m)]
        for item in l:
            self.insert(item)
    def insert(self,x):
        self.bucket[self.func(x)].append(x)
    def delete(self,x):
        if x in self.bucket[self.func(x)]:
            self.bucket[self.func(x)].remove(x)
    def display(self):
        for l in self.bucket:
            print(l)
        print('\n')

In [11]:
hl = hash_list(m=5,l=[7,5,3,4,1,2,8],func=lambda x:x*7%5)
hl.display()
hl.insert(9)
hl.display()
hl.delete(4)
hl.display()

[5]
[3, 8]
[1]
[4]
[7, 2]


[5]
[3, 8]
[1]
[4, 9]
[7, 2]


[5]
[3, 8]
[1]
[9]
[7, 2]

In [61]:
import sqlite3 as sql
db = sql.connect('data2.db')
cursor = db.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS students(
id integer PRIMARY KEY,
name text NOT NULL,
gender text NOT NULL,
age integer NOT NULL);""")
cursor.execute("""
CREATE TABLE IF NOT EXISTS class(
cid integer PRIMARY KEY,
cname text NOT NULL,
tid NOT NULL);""")
cursor.execute("""
CREATE TABLE IF NOT EXISTS enrolled(
id integer NOT NULL,
cid integer NOT NULL,
score integer,
PRIMARY KEY (id,cid));""")

In [62]:
cursor.execute("""
INSERT INTO students(id, name, gender, age)
VALUES (2017010807,'wsp','male',22)
""")
cursor.execute("""
INSERT INTO students(id, name, gender, age)
VALUES (2017010870,'ztj','male',22)
""")
cursor.execute("""
INSERT INTO students(id, name, gender, age)
VALUES (2017010802,'shx','male',22)
""")

In [63]:
cursor.execute("""
INSERT INTO class(cid, cname, tid)
VALUES (0, '电电',0)""")
cursor.execute("""
INSERT INTO class(cid, cname, tid)
VALUES (1, '数算',1)""")
cursor.execute("""
INSERT INTO class(cid, cname, tid)
VALUES (2, '微积分',2)""")

In [64]:
cursor.execute("""
INSERT INTO enrolled(id,cid,score)
VALUES (2017010870,0,100)""")
cursor.execute("""
INSERT INTO enrolled(id,cid,score)
VALUES (2017010870,1,100)""")
cursor.execute("""
INSERT INTO enrolled(id,cid,score)
VALUES (2017010807,0,61)""")

In [67]:
# cursor.execute("""
# SELECT *
# FROM students""")
# print(cursor.fetchall())
# cursor.execute("""
# SELECT *
# FROM class""")
# print(cursor.fetchall())
# cursor.execute("""
# SELECT *
# FROM enrolled""")
# print(cursor.fetchall())

cursor.execute("""
SELECT students.name,class.cname,enrolled.score
FROM students,class,enrolled
WHERE students.id=enrolled.id AND enrolled.cid=class.cid AND students.id=2017010870""")
print(cursor.fetchall())

[('ztj', '电电', 100), ('ztj', '数算', 100)]

In [57]:
db.close()

[]